@import url("https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Metal+Mania&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap");

@media (max-width: 480px) {
  .links {
    grid-template-columns: repeat(3, auto); /* Reduz para 3 colunas em telas pequenas */
    gap: 15px;
  }
  
  h1 {
    font-size: 2rem; /* Reduz o título para ganhar espaço */
  }
}

body {
  display: flex;
  flex-direction: column; /* Organiza container e footer em coluna */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #eee6d9;
  margin: 0;
  text-align: center;
  background-image: url(images/bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  max-width: 400px;
  width: 90%;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
}

h2,
a {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
  color: #eee6d9;
  justify-content: center;
  align-items: center;
  transition: color 0.25s ease;
}

h2 a:hover {
  color: #f70000;
  text-decoration: none;
}

.links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 10px;
  padding: 20px;
  max-width: 350px;
}

.links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #eee6d9;
  color: #252322;
  border-radius: 50%;
  text-decoration: none;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.links a:hover {
  transform: scale(1.1);
}

footer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  color: #eee6d9;
  font-size: 0.8rem;
  padding: 20px 10px;
  margin-top: auto;
}
