@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Metal+Mania&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-image: url(images/bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  color: #eee6d9;
  font-family: "Libertinus Serif Display", system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

.container {
  position: relative;
  max-width: 400px;
  width: 90%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
}

h2, a {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
  color: #eee6d9;
  justify-content: center;
  align-items: center;
  transition: color 0.25s ease;
}

h2 a:hover {
  color: #f70000;
  text-decoration: none;
}

.links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 10px;
  padding: 20px;
  max-width: 350px;
}

.links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #eee6d9;
  color: #252322;
  border-radius: 50%;
  text-decoration: none;
  font-size: 24px;
  transition: transform 0.3s ease
}

.links a:hover {
  transform: scale(1.1);
}

footer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  color: #eee6d9;
  font-size: 0.8rem;
}
